button {
    margin: 10px;
    border: 10px;
    border-radius: 5px;
    box-shadow:0 0 0 1px black;

  }
  
  button.current {
    box-shadow: 0 0 0 2px rgba(33, 179, 20, 0.699),
                0 0 0 4px black;
  }